html {
  height: 100%;
}

body {
  height: 100%;
  font-family: var(--karla-font);
  transition: all 0.3s ease-in;
}

.dark-mode {
  background-color: var(--dark);
  color: var(--white-text);
}

.dark-mode a {
  color: var(--white-text);
}

@font-face {
  font-family: "Karla";
  src: local("Karla"), local("Karla-Regular"), url("../fonts/karla/Karla-Regular.woff2") format("woff2"), url("../fonts/karla/Karla-Regular.woff") format("woff"), url("../fonts/karla/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display Regular"), local("DM-Serif-Display-Regular"), url("../fonts/dm-serif-display/DMSerifDisplay-Regular.woff2") format("woff2"), url("../fonts/dm-serif-display/DMSerifDisplay-Regular.woff") format("woff"), url("../fonts/dm-serif-display/") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: local("Karla Bold"), local("Karla-Bold"), url("../fonts/karla/Karla-Bold.woff2") format("woff2"), url("../fonts/karla/Karla-Bold.woff") format("woff"), url("../fonts/karla/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

:root {
  --container-width: 1160px;
  --container-padding: 25px;
  --bg-color: #2d2641;
  --accent: #2d2641;
  --dark: #222;
  --text-color: #2c2830;
  --white-text: #fff;
  --white: #fff;
  --hover-text-color: #2c2830;
  --text-secondry-color: #837d88;
  --footer-text-color: #2d2641;
  --karla-font: "Karla", sans-serif;
  --dm-serif-display: "DM Serif Display";
}

.none {
  display: none !important;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.site-header {
  padding: 21px 0px 19px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
  background-color: var(--white);
  border-bottom: 1px solid transparent;
}

.dark-mode .site-header {
  background-color: var(--dark);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.header__logo {
  display: inline-block;
  width: 112px;
  height: 18px;
  background-image: url(../images/header/header-logo.svg);
  transition: all 0.3s ease-in;
}
.header__logo:hover {
  opacity: 80%;
}
.header__logo:active {
  opacity: 70%;
}

.dark-mode .header__logo {
  background-image: url(../images/header/header-logo-dark-mode.svg);
}

.header__nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 33px;
       column-gap: 33px;
}

.header__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: unset;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.header__link {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--text-secondry-color);
  transition: color 0.3s ease-in, opacity 0.3s ease-in;
}
.header__link:hover {
  color: var(--text-hover-color);
}

.dark-mode .header__link:hover {
  opacity: 70%;
}

.dark-mode .mode {
  border-color: #fff;
  background-image: url(../images/header/sun.svg);
  background-size: 16px 16px;
}
.dark-mode .mode:hover {
  background-color: var(--white);
  background-image: url(../images/header/sun-hover.svg);
}

.mode {
  width: 35px;
  height: 35px;
  background-image: url(../images/header/moon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 16px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.mode:hover {
  background-color: var(--accent);
  background-image: url(../images/header/moon-hover.svg);
}
.mode:active {
  position: relative;
  top: 1px;
}

.burger-btn {
  width: 32px;
  height: 32px;
  display: none;
  background-image: url(../images/header/burger-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
  border: 1px solid var(--accent);
}

.dark-mode .burger-btn.active {
  background-image: url(../images/header/clouse-icon-white.svg);
}

.burger-btn.active {
  background-image: url(../images/header/clouse-icon.svg);
}

.dark-mode .burger-btn {
  border: 1px solid var(--white);
  background-image: url(../images/header/burger-icon-white.svg);
}

.header-btn {
  padding: 13px 0px 12px;
  width: 146px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: unset;
       column-gap: unset;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid #2c2830;
  color: var(--text-color);
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.header-btn:hover {
  background-color: #2c2830;
  color: #fff;
}
.header-btn:active {
  position: relative;
  top: 1px;
}

.dark-mode .header-btn {
  padding: 13px 0px 12px;
  width: 146px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: unset;
       column-gap: unset;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid var(--white);
  color: var(--white-text);
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.dark-mode .header-btn:hover {
  background-color: #2c2830;
  color: #fff;
}
.dark-mode .header-btn:active {
  position: relative;
  top: 1px;
}
.dark-mode .header-btn:hover {
  padding: 13px 0px 12px;
  width: 146px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: unset;
       column-gap: unset;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid #2c2830;
  color: var(--text-color);
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.dark-mode .header-btn:hover:hover {
  background-color: var(--white);
  color: var(--text-color);
}
.dark-mode .header-btn:hover:active {
  position: relative;
  top: 1px;
}

@media (max-width: 710px) {
  .header__list {
    display: none;
  }
  .header__list--mobile {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    padding: 40px 25px 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 24px;
    background-color: var(--white);
    background-image: url(../../images/header/mobili-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    transition: transform 0.3s ease-in;
  }
  .dark-mode .header__list--mobile {
    background-color: var(--dark);
  }
  .header__list--mobile .header__item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 25px;
         column-gap: 25px;
    text-align: center;
  }
  .header__link {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: var(--text-secondry-color);
    transition: color 0.3s ease-in, opacity 0.3s ease-in;
  }
  .header__link:hover {
    color: var(--text-hover-color);
  }
  .dark-mode .header__link:hover {
    opacity: 70%;
  }
  .header__list--mobile .header-btn {
    width: 100%;
  }
  .dark-mode .header-btn {
    padding: 13px 0px 12px;
    width: 146px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: unset;
         column-gap: unset;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid var(--white);
    color: var(--white-text);
    background-color: transparent;
    transition: all 0.3s ease-in;
    width: 100%;
  }
  .dark-mode .header-btn:hover {
    background-color: #2c2830;
    color: #fff;
  }
  .dark-mode .header-btn:active {
    position: relative;
    top: 1px;
  }
  .dark-mode .header-btn:hover {
    padding: 13px 0px 12px;
    width: 146px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: unset;
         column-gap: unset;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid #2c2830;
    color: var(--text-color);
    background-color: transparent;
    transition: all 0.3s ease-in;
    width: 100%;
  }
  .dark-mode .header-btn:hover:hover {
    background-color: var(--white);
    color: var(--text-color);
  }
  .dark-mode .header-btn:hover:active {
    position: relative;
    top: 1px;
  }
  .burger-btn {
    display: block;
  }
  .dark-mode .burger-btn {
    display: block;
  }
}
.hero-section {
  margin-top: 70px;
  position: relative;
  margin-bottom: 150px;
  overflow: hidden;
  height: 755px;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: calc(0% - 137px);
  right: calc(0% - 262px);
  width: 697px;
  height: 649px;
  background-image: url(../images/hero/hero-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
.hero-section::after {
  content: "";
  position: absolute;
  bottom: calc(0% - 100px);
  left: calc(0% - 500px);
  width: 700px;
  height: 651px;
  background-image: url(../images/hero/hero-bottom-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.hero {
  padding: 105px 0px 127px;
  height: 600px;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease-in;
}

.dark-mode .hero {
  background-color: var(--dark);
}

.hero-row {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.line {
  margin-bottom: 63px;
  width: 150px;
  height: 1px;
  display: block;
  background-color: #fff;
}

.hero__content-wrapper {
  position: relative;
  width: 540px;
}

.hero__content__title {
  margin-bottom: 16px;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  font-family: var(--dm-serif-display);
  color: var(--white-text);
}

.hero__content__text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 26px;
  color: var(--white-text);
}

.hero__content__btn {
  padding: 13px 0px 12px;
  width: 146px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: unset;
       column-gap: unset;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid var(--white);
  color: var(--white-text);
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.hero__content__btn:hover {
  background-color: #2c2830;
  color: #fff;
}
.hero__content__btn:active {
  position: relative;
  top: 1px;
}
.hero__content__btn:hover {
  padding: 13px 0px 12px;
  width: 146px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: unset;
       column-gap: unset;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid #2c2830;
  color: var(--text-color);
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.hero__content__btn:hover:hover {
  background-color: var(--white);
  color: var(--text-color);
}
.hero__content__btn:hover:active {
  position: relative;
  top: 1px;
}

.hero__img-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 540px;
  height: 650px;
}
.hero__img-wrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1900px) {
  .hero-section::before {
    top: calc(0% - 137px);
    right: calc(25% - 305px);
  }
  .hero-section::after {
    bottom: calc(20% - 414px);
    left: calc(23% - 503px);
  }
}
@media (max-width: 1050px) {
  .hero {
    padding: 100px 0px 100px;
  }
  .hero__content-wrapper {
    width: 450px;
  }
  .hero__content__title {
    margin-bottom: 15px;
    font-size: 62px;
    line-height: 62px;
  }
  .hero__content__text {
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 950px) {
  .hero-section {
    margin-bottom: 100px;
    height: 100vh;
  }
  .hero-section::after {
    bottom: calc(40% - 100px);
    left: calc(0% - 540px);
  }
  .hero {
    padding: 0px 0px 25px;
    height: auto;
  }
  .hero .container {
    padding: unset;
  }
  .hero-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 20px;
  }
  .hero__content-wrapper {
    width: 80%;
    order: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    -moz-column-gap: unset;
         column-gap: unset;
    text-align: center;
  }
  .line {
    margin: auto;
    margin-bottom: 25px;
  }
  .hero__img-wrapper {
    width: 100%;
    height: 600px;
  }
}
@media (max-width: 710px) {
  .hero-section {
    margin-bottom: 100px;
    height: auto;
  }
  .hero-section::before {
    top: calc(30% + 300px);
    right: calc(0% - 555px);
  }
  .hero-section::after {
    bottom: calc(40% - 100px);
    left: calc(0% - 555px);
  }
  .hero {
    padding: 0px 0px 45px;
  }
  .hero-row {
    row-gap: 50px;
  }
  .hero__content__title {
    margin-bottom: 15px;
    font-size: 38px;
    line-height: 38px;
    letter-spacing: -0.667px;
  }
  .hero__content__text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 25px;
  }
  .hero__img-wrapper {
    height: 350px;
  }
  .line {
    display: none;
  }
}
.different {
  margin-bottom: 100px;
}

.different-row {
  position: relative;
  color: var(--text-color);
}

.dark-mode .different-row {
  color: var(--white-text);
}

.line {
  margin-bottom: 63px;
  width: 150px;
  height: 1px;
  display: block;
  background-color: #c396c6;
}

.dark-mode .line {
  margin-bottom: 63px;
  width: 150px;
  height: 1px;
  display: block;
  background-color: var(--white);
}

.different__title {
  margin-bottom: 96px;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  font-family: var(--dm-serif-display);
}

.different__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.different__item {
  width: 350px;
  height: 250px;
}

.different__item__img {
  margin-bottom: 32px;
  width: 86px;
  height: 86px;
}

.different__item:nth-child(1) .different__item__img {
  background-image: url(../images/different/icon-01.svg);
}

.different__item:nth-child(2) .different__item__img {
  background-image: url(../images/different/icon-02.svg);
}

.different__item:nth-child(3) .different__item__img {
  background-image: url(../images/different/icon-03.svg);
}

.different-item__title {
  margin-bottom: 16px;
  font-family: var(--dm-serif-display);
  font-size: 28px;
  letter-spacing: -0.389px;
}

.different-item__text {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-secondry-color);
}

.dark-mode .different-item__text {
  color: var(--white-text);
}

@media (max-width: 950px) {
  .different-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: unset;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .different__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: unset;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 30px;
    text-align: center;
  }
  .different__item__img {
    margin: auto;
    margin-bottom: 32px;
  }
}
@media (max-width: 510px) {
  .line {
    margin-bottom: 40px;
    width: 150px;
    height: 1px;
    display: block;
    background-color: #c396c6;
  }
  .different__title {
    margin-bottom: 80px;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 370px) {
  .line {
    margin-bottom: 40px;
    width: 150px;
    height: 1px;
    display: block;
    background-color: #c396c6;
  }
  .different__title {
    margin-bottom: 55px;
    font-size: 40px;
    line-height: 40px;
  }
  .different__item {
    width: auto;
    height: auto;
  }
}
.about {
  margin-bottom: 100px;
}

.about-row {
  padding: 69px 80px 69px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
  background-color: var(--accent);
  background-image: url(../images/about/about-bg.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.dark-mode .about-row {
  background-color: var(--dark);
}

.about__title {
  font-size: 56px;
  font-family: var(--dm-serif-display);
  line-height: 56px;
  letter-spacing: -0.778px;
  color: var(--white-text);
}

.about__btn {
  padding: 13px 0px 12px;
  width: 146px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: unset;
       column-gap: unset;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid var(--white);
  color: var(--white-text);
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.about__btn:hover {
  background-color: #2c2830;
  color: #fff;
}
.about__btn:active {
  position: relative;
  top: 1px;
}
.about__btn:hover {
  padding: 13px 0px 12px;
  width: 146px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: unset;
       column-gap: unset;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid #2c2830;
  color: var(--text-color);
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.about__btn:hover:hover {
  background-color: var(--white);
  color: var(--text-color);
}
.about__btn:hover:active {
  position: relative;
  top: 1px;
}

@media (max-width: 850px) {
  .about-row {
    padding: 69px 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 20px;
    text-align: center;
  }
}
@media (max-width: 710px) {
  .about-row {
    padding: 27px 24px;
    row-gap: 40px;
  }
  .about__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.556px;
  }
}
@media (max-width: 450px) {
  .about-row {
    padding: 20px;
    row-gap: 35px;
  }
  .about__title {
    font-size: 33px;
    line-height: 33px;
  }
}
.site-footer {
  margin-top: auto;
  padding: 67px 0px 64px;
  background-color: #fafafa;
  background-image: url(../images/footer/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.dark-mode .site-footer {
  background-color: var(--dark);
}

.footer-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.footer__top-content {
  padding-bottom: 36px;
  margin-bottom: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: unset;
       column-gap: unset;
  border-bottom: 1px solid #dadada;
}

.footer__top__logo {
  display: inline-block;
  width: 112px;
  height: 18px;
  background-image: url(../images/footer/footer-logo.svg);
  transition: all 0.3s ease-in;
}
.footer__top__logo:hover {
  opacity: 80%;
}
.footer__top__logo:active {
  opacity: 70%;
}

.dark-mode .footer__top__logo {
  background-image: url(../images/footer/footer-logo-white.svg);
}

.footer__top__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.footer__top__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.footer__top__link {
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in;
}

.dark-mode .footer__top__link:hover {
  opacity: 70%;
}

.footer__top__item:nth-child(1) .footer__top__link {
  background-image: url(../images/footer/icon-01.svg);
}
.footer__top__item:nth-child(1) .footer__top__link:hover {
  background-image: url(../images/footer/icon-01-hover.svg);
}

.dark-mode .footer__top__item:nth-child(1) .footer__top__link {
  background-image: url(../images/footer/icon-01-white.svg);
}

.footer__top__item:nth-child(2) .footer__top__link {
  height: 20px;
  background-image: url(../images/footer/icon-02.svg);
}
.footer__top__item:nth-child(2) .footer__top__link:hover {
  background-image: url(../images/footer/icon-02-hover.svg);
}

.dark-mode .footer__top__item:nth-child(2) .footer__top__link {
  background-image: url(../images/footer/icon-02-white.svg);
}

.footer__top__item:nth-child(3) .footer__top__link {
  background-image: url(../images/footer/icon-03.svg);
}
.footer__top__item:nth-child(3) .footer__top__link:hover {
  background-image: url(../images/footer/icon-03-hover.svg);
}

.dark-mode .footer__top__item:nth-child(3) .footer__top__link {
  background-image: url(../images/footer/icon-03-white.svg);
}

.footer__top__item:nth-child(4) .footer__top__link {
  background-image: url(../images/footer/icon-04.svg);
}
.footer__top__item:nth-child(4) .footer__top__link:hover {
  background-image: url(../images/footer/icon-04-hover.svg);
}

.dark-mode .footer__top__item:nth-child(4) .footer__top__link {
  background-image: url(../images/footer/icon-04-white.svg);
}

.footer__bottom-content {
  width: 100%;
}

.footer__bottom__list {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.footer__bottom__item {
  width: auto;
  display: flex;
  align-items: unset;
  flex-direction: column;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 16px;
}

.footer__bottom__badge {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--text-secondry-color);
}

.dark-mode .footer__bottom__badge {
  color: var(--white-text);
}

.footer__bottom__link {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--accent);
}
.footer__bottom__link:hover {
  -webkit-text-decoration: underline 2px solid var(--accent);
          text-decoration: underline 2px solid var(--accent);
}

.dark-mode .footer__bottom__link {
  color: var(--white-text);
}
.dark-mode .footer__bottom__link:hover {
  -webkit-text-decoration: underline 2px solid var(--white-text);
          text-decoration: underline 2px solid var(--white-text);
}

@media (max-width: 550px) {
  .site-footer {
    padding: 88px 0px 35px;
    background-image: unset;
    height: auto;
  }
  .footer__top-content {
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 40px;
  }
  .footer__bottom__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 40px;
    text-align: center;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */